
body{
    background-color: grey;
}
h1{
    background-color: green;
    color: aquamarine;
}
p1{
    background-color: grey;
    
}
p2{
    background-color: cadetblue;
    color: orange;
}
#shash{
    color: aliceblue;
    background-color: black;
    
}
.yo
{
    color: beige;
}
